/* stylesheet for index.html */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
header, main {
    margin: auto 4%;
}

h1 {
    color: #FF4500;
    width: 100%;
}

input {
    border: 3px solid #555;
    height: 2em;
    width: 20em;
    font-size: 1em;
}

button {
    margin-left: 0.1em;
    height: 2.4em;
    width: 5em;
    border-radius: 0.5em;
    border: 3px solid #FFBF00;
    background-color: #FFBF00;
    font-size: 1em;
    font-weight: 600;
}

button:hover {
    border: 3px solid #FF7518;
    background-color: #FF7518;
}

h2 {
    color: #454140;
}

h3 {
    color: #454140;
}

h4 {
    color: #CC0000;
    margin-bottom: 0.5em;
}

p {
    margin: 0.1em auto;
}

span {
    font-weight: 800;
    color: #454140;
    margin-left: 0;
    padding-left: 0;
}

p {
    color:#555;
}


footer {
    margin:4em auto;
}


/* comment out the following part to remove flex box effect */
#results {
    display: flex;
    flex-wrap: wrap;
    gap:0.5em;
    justify-content: flex-start;
}

.item {
    flex: 1 1 38%;
    overflow-wrap: break-word;
    width: 30%;
    border: 1px solid transparent;
    border-radius: 2%;
    background-color: #FFF6E5;
    padding-bottom: 0.5em;
}

.item:hover  {
    background-color: #FED197;
}

.item * {
    /* need to fix a bug on pading/margin of p element  */
    padding-left: 5px;
}
